.header {
  height: 100vh;
  &__text-box {
    position: absolute;
    left: 0;
    top: 20%;

    max-width: 700px;
    text-align: center;
  }
}

img.header-img {
  max-width: 400px;
  float: right;
  right:25%;
  margin: 120px;
  margin-bottom: 70px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.arrow img {
  width: 40px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  padding-top: 30px;

  &:hover {
    cursor: pointer;
  }
}
