.header {
  height: 100vh;
  &__text-box {
    position: absolute;
    left: 0;
    top: 20%;

    max-width: 700px;
    text-align: center;
  }
}

img.header-img {
  max-width: 400px;
  float: right;
  right:25%;
  margin: 120px;
  margin-bottom: 70px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.arrow img {
  width: 40px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  left: 48.5%;
  padding-top: 30px;

  &:hover {
    cursor: pointer;
  }
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Tajawal', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

.nav-bar li a {
  text-decoration: none;
  color: #ffffff;
}

.nav-bar li:hover {
  border-bottom: 3px solid black;
}
