body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  padding: 0rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.heading-primary {
  color: black;
  text-align: center;
  backface-visibility: hidden;
  position: relative;
  top: 10%;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2rem;
  }
  &--sub {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-align: center;
  }
}
//gradient for header in main//
.heading-secondary {
  font-size: 4rem;
  font-family: 'Lato', sans-serif;
  color: black;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: inline;
}
// Adds 3D effect to header
.heading-secondary:after {
  content: "Projects";
  position: absolute;
  left: 1%;
  color: #dbd163;
}

.heading-tertiary h3 {
  color: red;
  font: bold Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition:    all 0.12s ease-out;
  -ms-transition:     all 0.12s ease-out;
  -o-transition:      all 0.12s ease-out;
}

//targets header and not paragraph//
.redesign-area:hover > h3 {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px lightgrey, 2px 2px lightgrey, 3px 3px lightgrey, 4px 4px lightgrey, 5px 5px lightgrey, 6px 6px lightgrey;
}

.paragraph-redesign {
  font-size: 25px;
  max-width: 60%;
  padding-left: 15px;
}

.blue-font {
  color: #325aa8;
}

.section-about:hover > h3 {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px lightgrey, 2px 2px lightgrey, 3px 3px lightgrey, 4px 4px lightgrey, 5px 5px lightgrey, 6px 6px lightgrey;
}
