.section-projects {
  background-color: white;
  padding: 0rem 0;
  margin-top: 0vh;
  margin: 10px;
  @include breakpoint(sm) {
    width: 100%;
  }
}
.section-features {
  padding: 30px;
  height: 100vh;
}
