.section-about {
  background-color: white;
  padding: 0rem 0;
  margin-top: 0vh;
}
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.44),
    rgba($color-primary-dark, 0.44)),
    url(../img/nat-4.jpg);
    background-size: cover;
    // clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 18%);
    transform: skewY(-7deg);
    margin-top: -10rem;
    & > * {
      transform: skewY(7deg);
    }
}
